.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto 30px;

    &__name {
        display: flex;
        text-transform: capitalize;
        font-size: 19px;
    }
    
    &__sum-count {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__price{
        display: flex;
        font-size: 19px;
        margin-left: 5px;
    }
    &__count{
        display: flex;
        font-size: 19px;
        margin-left: 5px;
    }

}